#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_LDFLAGS_MAINT_APPEND = -Wl,-z,defs -Wl,--as-needed

export CCACHE_DISABLE=1

%:
	dh $@ --with gnome --buildsystem=meson

override_dh_auto_configure:
	NOCONFIGURE=1 ./autogen.sh
	dh_auto_configure -- \
		--libexecdir=/usr/lib/gnome-initial-setup
